.map-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.map-image {
    max-width: 80%;
    height: auto;
    max-height: 60vh; /* Adjust the height to fit within the screen height */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.map-container area {
    cursor: pointer;
}

.hover-text {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    pointer-events: none;
    transform: translate(-50%, -150%);
}

.map-container area:hover + .hover-text {
    display: block;
}
